/*鼠标覆盖按钮效果*/
.button:hover {
    /*粗体*/
    -fx-font-weight: bold;
    /*透明度*/
    -fx-opacity: 0.8;
}
.green-theme{
    -fx-background-color: rgb(134,210,247);
}
.bg-theme{
    -fx-background-image: url(/img/login.jpg);
}
.root{
    -fx-background-image: url(/img/bgf.jpg);
}