.green-theme{
    -fx-background-color: rgb(134,210,247);
    -fx-pref-width: 226;
    -fx-pref-height: 71;
}
.green-theme:hover {
    -fx-cursor: hand;
    /*粗体*/
    -fx-font-weight: bold;
    /*透明度*/
    -fx-opacity: 0.8;
}
.blue-btn {
    -fx-background-color: rgb(134,210,247);
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-pref-height: 30px;
    -fx-pref-width: 150px;
}
.blue-btn:hover {
    -fx-cursor: hand;
    /*粗体*/
    -fx-font-weight: bold;
    /*透明度*/
    -fx-opacity: 0.8;
}

.bg-theme {
    -fx-background-image: url(/img/login.jpg);
}
.root{
    -fx-background-image: url(/img/bgf.jpg);
}
.text-basic {
    -fx-font-family: "Microsoft JhengHei UI Light";
    -fx-font-size: 50;
}